.imge{
  background-image: url(../images/michael-brandt-332242-unsplash.jpg);
  width: 100%;
  height: 30vh;
  height: 350px
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}